:root {
  --white-color: #FFFFFF;
  --black-color: #121212;
  /* --primary-color: "#" */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


[class^="number-slide"],
[class*=" number-slide"] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 65vh;
}

[class^="number-slide"],
[class*=" number-slide"]::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .3);
}

.number-slide1 {
  background: url('/images/6.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.number-slide2 {
  background: url('/images/5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.number-slide3 {
  background: url('/images/4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.number-slide4 {
  background: url('/images/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.number-slide5 {
  background: url('/images/2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.number-slide6 {
  background: url('/images/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.thumbnail .keen-slider__slide {
  font-size: 30px;
  margin-top: 10px;
  height: 140px;
}

.thumbnail .keen-slider__slide {
  cursor: pointer;
}

.thumbnail .keen-slider__slide.active {
  border: 1px dashed rgba(174, 63, 255, .9);
}

.container {
  max-width: 1280px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

a:focus,
a {
  text-decoration: none;
  outline: none;
  color: inherit;
}