.navbar {
  padding: 10px 0;
  background: var(--black-color);
  color: var(--white-color);

  .wrapp {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu {
      max-width: 60%;
      width: 100%;
    }

    .social {
      max-width: 10%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}